.button {
    background: #FFFFFF;
    border: 1px solid blue;
    cursor: pointer;
    font-family: inherit;
    margin-bottom:10px;
    padding: 8px;
    &:hover{
        background:blue;
        color:#FFFFFF;
    }
}
