.personcard {
  border: 1px solid #eeeeee;
  box-shadow: 0 2px 3px #cccccc;
  margin: auto;
  margin-bottom: 10px;
  padding: 16px;
  text-align: center;
  width: 30%;
  color:black;

  
  @media (min-width: 500px) {
        width: 250px;
        backgroundColor: purple;
  }

}